* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2.5rem;
}

#container {
    background-color: brown;
    width: 80%;
    margin-left: 10%;
}

#div1, #div2, #div3 {
    display: inline-block;
    margin-left: 5%;
}

#div2, #div3 {
    width: 20%;
}

#div1 {
    width: 40%;
    background-color: coral;
    border: 1px solid black;
}

#div2 {
    background-color: #bcff50;
    border: 1px dashed #4e1518;
}

#div3 {
    background-color: #50a5ff;
    border: 3px solid darkgray;
}

@media screen and (max-width: 600px){
    #container {
        width: 100%;
    }

    #div1, #div2, #div3 {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    body {
        font-size: 1.5rem;
    }

    a, span, #div3 {
        display: none;
    }
}